@font-face {
    font-family: 'RobotoExtraBold';
    src: url(../Fonts/WorkSans-ExtraBold.ttf) format('truetype');
    font-weight: extra-bold;
}
@font-face {
    font-family: 'RobotoLightItalic';
    src: url(../Fonts/WorkSans-LightItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url(../Fonts/WorkSans-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: #1F2937;
    height: 100px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    place-items: center;

}

header a {
    font-family: 'RobotoRegular', sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
}

header .logo a {
    font-family: 'RobotoExtraBold', sans-serif;
    font-size: 24px;
}

header li {
    list-style: none;
    display: inline-block;
}

header a:hover {
    color: #3882F6;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    display: block;
    padding: 8px 20px;
    color: #F9FAF8;
}

footer {
    background-color: #1F2937;
    height: 100px;
    color: #F9FAF8;
}
